# ARCH
CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
CONFIG_DRAM_ZQ=14779

# DTS
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-dolphinpi"
CONFIG_OF_LIBFDT_OVERLAY=y

# COMMON
CONFIG_SPL=y

# DEBUG
CONFIG_LOGLEVEL=7
CONFIG_CONS_INDEX=3

### ENV
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_FLASH=y
# CONFIG_ENV_OFFSET=0x80000
# CONFIG_ENV_SIZE=0x02000

### NOR
## SPI
# CONFIG_SPI=y
# CONFIG_SPI_BOOT=y
# CONFIG_SUNXI_SPI=y
# CONFIG_SPL_SPI_SUPPORT=y
# CONFIG_SPL_SPI_SUNXI=y

### NAND
CONFIG_CLK=y
CONFIG_CLK_SUNXI=y
CONFIG_CLK_SUN8I_V3S=y
CONFIG_SUNXI_SPI=y
CONFIG_SPI_SUNXI=y
CONFIG_CMD_MTD=y
CONFIG_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_SPI=y
CONFIG_SPI_MEM=y
CONFIG_SPI_SUNXI=y
CONFIG_SPL_SPINAND_SUNXI=y
CONFIG_DM=y
CONFIG_DM_SPI=y
CONFIG_CMD_DM=y
CONFIG_CMD_SPI=y

CONFIG_BOOTCOMMAND="mtd read spi-nand0 $kernel_addr_r 0x0110000 0x400000; mtd read spi-nand0 $fdt_addr_r 0x0100000 0x10000; bootm 0x41000000 - 0x41800000"
CONFIG_BOOTARGS="console=ttyS0,115200 earlyprintk panic=5 rootwait mtdparts=spi0.0:1M(uboot)ro,64k(dtb)ro,4M(kernel)ro,-(rootfs) root=mtdblock3 rw rootfstype=jffs2"