# ARCH
CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
CONFIG_DRAM_ZQ=14779

# DTS
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-dolphinpi"
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_FIT=y

# DEBUG
CONFIG_LOGLEVEL=7
CONFIG_CONS_INDEX=3

### NOR
## SPI
# CONFIG_SPI=y
# CONFIG_SPI_BOOT=y
# CONFIG_SUNXI_SPI=y

## SPL
# CONFIG_SPL=y
# CONFIG_SPL_SPI_SUPPORT=y
# CONFIG_SPL_SPI_SUNXI=y

### NAND
CONFIG_SPL=y
# CONFIG_SPL_SPI_SUPPORT=y
# CONFIG_SPL_BUILD=y
# CONFIG_SPL_NAND_DRIVERS=y
# CONFIG_NAND_SUNXI=y
# CONFIG_SPI=y
# CONFIG_SPI_BOOT=y
CONFIG_SUNXI_SPI=y
CONFIG_CMD_MTD=y
CONFIG_MTD=y
CONFIG_SPL_SPINAND_SUNXI=y
CONFIG_MTD_SPI_NAND=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_SPI_MEM=y
CONFIG_SPI_SUNXI=y
